<div class="my-0 py-0 hide_with_menu">

  <h1 class="text-center">
    Exercise Menu
  </h1>


  <h4>
    <i class="fas fa-search-plus text-2xl text-info" aria-hidden="true"></i>
    Create and save a new workout in database. Click on category images for
    exercise suggestions then store in database...</h4>
  <hr class="border-warning">
  <p class="font-italic">
    <i class="fas fa-chart-bar text-2xl text-warning" aria-hidden="true"></i>
    Save your sets/reps/weights on the spot and monitor progress them in Stats
    section along with below feature of the app:
  </p>
  <p class="font-italic">
    <i class="fas fa-award text-2xl text-warning" aria-hidden="true"></i>
    Challenge yourself to complete specific number of workouts in a short-term
    period, also need to find a reward -to yourself, not by us, by yourself-
    when
    the goal achieved...
  </p>

</div>


<h1 class="text-center">
  <span class="text-primary">
    Resistance
  </span>
  <span class="float-right">
    <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
      data-target="#muscle_div" aria-expanded="false" aria-controls="muscle_div"
      id="collapse_muscle_button">
      <span class="collapse_muscle_text"> Show </span>
      <i id="collapse_muscle_icon" class="fas fa-chevron-down"
        aria-hidden="true"></i>
    </button>
  </span>

</h1>

<div class="collapse show" id="muscle_div">
  <div class="row">
    {{#each lifting as |lift|}}
      <div class="col-3">
        <btn class="btn btn-block btn-outline-primary rounded-xl w-100 h-100">

          {{!-- <img class="img-lift" src="https://raw.githubusercontent.com/attila5287/mongofitness/main/public/img/muscles/{{lift}}.png" alt="{{lift}}-img"> --}}

          <img class="img-lift" src="/img/muscles/{{lift}}.png"
            alt="{{lift}}-img">

        </btn>

        <h4 class="text-center text-uppercase">
          {{lift}}
        </h4>

      </div>
    {{/each}}

  </div>

</div>


<h1 class="text-secondary text-center">
  Cardio Activities
  <button class="btn btn-outline-secondary float-right" type="button"
    data-toggle="collapse" data-target="#calorie_div" aria-expanded="false"
    aria-controls="calorie_div" id="collapse_calorie_button">
    <span class="collapse_calorie_text"> Show </span>
    <i id="collapse_calorie_icon" class="fas fa-chevron-down"
      aria-hidden="true"></i>
  </button>
</h1>

<div class="collapse show" id="calorie_div">
  <div class="row">
    {{#each burning as |burn|}}
      <div class="col-3">
        <btn class="btn btn-block btn-outline-secondary rounded-xl w-100 h-100">

          <img class="img-burn" src="/img/illustration/{{burn}}.png"
            alt="{{burn}}-img">

        </btn>

        <h4 class="text-center text-uppercase">
          {{burn}}
        </h4>

      </div>
    {{/each}}


  </div>

</div>
