<h1>Welcome to Fitness Tracker!</h1>

<h6> Exercise Menu</h6>

  <div class="row">
  {{#each lifting as |lift|}}
    <div class="col-3">
      <btn class="btn btn-block btn-outline-success rounded-xl w-100 h-75">

          <img class="img-illust" src="https://raw.githubusercontent.com/attila5287/mongofitness/main/public/img/illustration/{{lift}}.png" alt="{{lift}}-img">
          
      </btn>
      
        <h4 class="text-center text-uppercase">
          {{lift}}
        </h4>

    </div>
  {{/each}}


  </div>
  <div class="row">
  {{#each burning as |burn|}}
    <div class="col-3">
      <btn class="btn btn-block btn-outline-success rounded-xl w-100 h-75">

          <img class="img-illust" src="https://raw.githubusercontent.com/attila5287/mongofitness/main/public/img/illustration/{{burn}}.png" alt="{{burn}}-img">
          
      </btn>
      
        <h4 class="text-center text-uppercase">
          {{burn}}
        </h4>

    </div>
  {{/each}}


  </div>
