<h1>Welcome to Fitness Tracker!</h1>
<hr>
<h6> Body Builders </h6>

  <div class="row">
  {{#each lifting as |lift|}}
    <div class="col-3">
      <btn class="btn btn-block btn-outline-success rounded-xl w-100 h-75">

          <img class="img-lift" src="https://raw.githubusercontent.com/attila5287/mongofitness/main/public/img/target_areas/{{lift}}.png" alt="{{lift}}-img">
          
      </btn>
      
        <h4 class="text-center text-uppercase">
          {{lift}}
        </h4>

    </div>
  {{/each}}

  </div>


<h6> Calorie Burners</h6>

  <div class="row">
  {{#each burning as |burn|}}
    <div class="col-3">
      <btn class="btn btn-block btn-outline-success rounded-xl w-100 h-75">

          <img class="img-burn" src="https://raw.githubusercontent.com/attila5287/mongofitness/main/public/img/illustration/{{burn}}.png" alt="{{burn}}-img">
          
      </btn>
      
        <h4 class="text-center text-uppercase">
          {{burn}}
        </h4>

    </div>
  {{/each}}


  </div>
